.button{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: aqua;
}

.h3{
    color: black;
}

.btn{
    padding: 10px 15px;
    background-color: red;
    border-radius: 10px;
    border: none;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    font-weight: 900;
}